<a href="https://colab.research.google.com/github/HarrisonBarnes11/BTE320/blob/main/In_Class_Assignments.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pi = 3.14
radius = float(input('Enter radius: '))
height = float(input('Enter height: '))

area = (2 * pi * (radius ** 2)) + (2 * pi * radius * height)
print(f'Area of cylinder: {area} sq. ft')

Enter radius: 5
Enter height: 7
Area of cylinder: 376.8 sq. ft

In [ ]:
n1 = float(input('Enter first number: '))
n2 = float(input('Enter second number: '))
op = input('Enter operator: ')

if op == '+':
    res = n1 + n2
elif op == '-':
    res = n1 - n2
elif op == '*':
    res = n1 * n2
elif op == '/':
    res = n1 / n2
elif op == '//':
    res = n1 // n2
elif op == '**':
    res = n1 ** n2
elif op == '%':
    res = n1 % n2

else:
    res = 'Invalid operator!'

print(f'{n1} {op} {n2} = {res}')

Enter first number: 24
Enter second number: 16
Enter operator: /
24.0 / 16.0 = 1.5

In [ ]:
x = 5
if x % 2 == 0:
    res = 'Even'
else:
    res = "odd"
print(res)

odd

In [ ]:
x = 5
res = 'Even' if x % 2 == 0 else 'Odd'
print(res)

Odd

In [1]:
for numberHours in range(1, 9):
  fee = 5 + 2.5 * numberHours
  if fee < 10:
    fee = 10.0
  elif fee > 20:
    fee = 20.0
  print(numberHours, fee)

1 10.0
2 10.0
3 12.5
4 15.0
5 17.5
6 20.0
7 20.0
8 20.0

In [2]:
import math

print('$Adv\t', 'Profit')
for adMoney in range(0, 201, 25):
  revenue = (20 + 2 * round(math.sqrt(adMoney))) * 10 # instead of adMoney ** 0.5
  costs = 200 + adMoney
  profit = revenue - costs
  print(adMoney, '\t', profit)

$Adv	 Profit
0 	 0
25 	 75
50 	 90
75 	 105
100 	 100
125 	 95
150 	 90
175 	 85
200 	 80