<a href="https://colab.research.google.com/github/HarrisonBarnes11/BTE320/blob/main/Notes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
3+2

5

In [ ]:
3+2.0

5.0

In [ ]:
3.2+5.5

8.7

In [ ]:
5-2

3

In [ ]:
4 * 5

20

In [ ]:
3 ** 3

27

In [ ]:
6/3

2.0

In [ ]:
5 // 2

2

In [ ]:
5 % 3

2

In [ ]:
3 % 5

3

In [ ]:
a = True
b = False

In [ ]:
a and b

False

In [ ]:
a or b

True

In [ ]:
not b

True

In [ ]:
age = 20
Salary = 70_000

(age > 25) and (salary > 50_000)

False

In [ ]:
# Calculate and display area of square
side = 5 # Set value for side
area = side ** 2 # Calculate area
print("Area =", area, "sq. ft") # Display area with added context
print("Goodbye!")

Area = 25 sq. ft
Goodbye!

In [ ]:
print("Area", area, "sq. ft", end="---")
print("Goodbye!")

Area 25 sq. ft---Goodbye!

In [ ]:
print("Area =", area, "sq. ft", sep="")
print("Goodbye!")

Area =25sq. ft
Goodbye!

In [ ]:
print("Area = {} sq. ft".format(area)) #Easier for spacing, repeatability

Area = 25 sq. ft

In [ ]:
print(f"Area = {area} sq. ft")

Area = 25 sq. ft

In [ ]:
name = input("Please provide your name: ")
print('Hi', name)
type(name)

Please provide your name: Bob
Hi Bob

str

In [ ]:
age = int(input("Please provide your age: "))
age = int(age) #allows a string to become an integer
print(age + 10)
type(age)

Please provide your age: 25
35

int

In [ ]:
if condition:
  expr
  expr

In [ ]:
fico = int(input("Please provide your FICO score: "))

if fico >= 700:
  print('Loan granted!')
else:
  print('Loan denied!')

Please provide your FICO score: 500
Loan denied!

In [ ]:
fico = int(input("Please provide your FICO score: "))

if fico >= 700:
  print('Loan granted!')
elif fico < 700:
  print('Loan denied!') #else is better is this scenario because it is redundant, no need to rewrite the condition again

Please provide your FICO score: 500
Loan denied!

In [ ]:
num = float(input('Please enter your number grade (0-100): '))

if num >= 97:
  print('A+')
elif num >= 93:
  print('A')
elif num >= 90:
  print('A-"')
elif num >= 87:
  print('B+')
elif num >= 83:
  print('B')
elif num >= 80:
  print('B-')

Please enter your number grade (0-100): 99
A+

In [ ]:
customer_type = input('Please provide your customer type: (N: new/E: existing)')
deposit = float(input('Please provide your deposit amount ($): '))

if customer_type == 'E':
  if deposit >= 10_000:
    ir = 3.5
  elif deposit >= 1_000:
    ir = 3.25
  else:
    ir = 3.0
else:
  ir = 4.0

total = (1+ir/100) * deposit
print(f'Total deposit: ${total}')

Please provide your customer type: (N: new/E: existing)N
Please provide your deposit amount ($): 400
Total deposit: $416.0

In [ ]:
customer_type = input('Please provide your customer type: (N: new/E: existing)')
deposit = float(input('Please provide your deposit amount ($): '))

if customer_type == 'E' and deposit >= 10_000: #boolean expressions: a and b,
  ir = 3.5
elif customer_type == 'E' and deposit >= 1_000:
  ir = 3.25
elif customer_type == 'E'
  ir= 3.0
else:
  ir = 4.0

total = (1+ir/100) * deposit
print(f'Total deposit: ${total}')

In [ ]:
#While loop and For loop
#for var in seq:
   #exp
   #exp
#While loop and For loop
#for var in seq:
   #exp
   #exp
#range(start,stop,step)

for i in range(0, 4, 1):
   forward(100)
   left(90)

NameError: name 'forward' is not defined

In [ ]:
#start
#start + step
#start + 2*step
#start + 3*step...
#start + N*step<Stop
#step>0
#for i in 0,1,2,3
#Default values of start and step are 0 and 1
#Stop does not have stop value
#Must provide negative step if starting from a numerica start. Ex: (5,1,-1)
#Range(40,5,-10): 40,30,20,10

#Range(-5,3,2): -5,-3,-1,1

In [ ]:
for number in range(2, 11, 2):
  print(number, end=' ')

2 4 6 8 10

In [ ]:
for number in range(1,11):
  if number % 2 == 0:
    print(number, end=' ')

2 4 6 8 10

In [3]:
for numberHours in range(1, 9):
  fee = 5 + 2.5 * numberHours
  if fee < 10:
    fee = 10.0
  elif fee > 20:
    fee = 20.0
  print(numberHours, fee)

1 10.0
2 10.0
3 12.5
4 15.0
5 17.5
6 20.0
7 20.0
8 20.0

In [11]:
import math

print('$Adv\t', 'Profit')
for adMoney in range(0, 201, 25):
  revenue = (20 + 2 * round(math.sqrt(adMoney))) * 10 # instead of adMoney ** 0.5
  costs = 200 + adMoney
  profit = revenue - costs
  print(adMoney, '\t', profit)

$Adv	 Profit
0 	 0
25 	 75
50 	 90
75 	 105
100 	 100
125 	 95
150 	 90
175 	 85
200 	 80